.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 24px;
  gap: 20px;
}

.home-button {
  height: 60px;
  font-size: 1.2rem;
  font-weight: 600;
  --border-radius: 14px;
}